@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Zilla Slab', serif;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.text-body {
  font-size: 18px;
  line-height: 1.6em;
}

.div-container {
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  z-index: 3;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  letter-spacing: 0.04em;
}

.icon-nav-show {
  display: none;
}

.nav-desktop li {
  margin-left: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  display: inline-block;
  font-size: 20px;
  transition-property: border-bottom;
  transition-duration: 0.2s;
}

.nav-desktop li:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}

.nav-mobile {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
}

.nav-mobile li {
  text-align: center;
  list-style-type: none;
}

.nav-mobile a {
  font-size: 50px;
  line-height: 2em;
}

.icon-nav-hide {
  justify-self: end;
  cursor: pointer;
}

.div-thumbnail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.div-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumbnail-title {
  position: absolute;
  z-index: 1;
  opacity: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  letter-spacing: 0.04em;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.div-thumbnail:hover > .thumbnail-title {
  opacity: 1;
}

.thumbnail-img {
  width: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.div-thumbnail:hover > .thumbnail-img {
  opacity: 0.4;
}

/* Project —————————————————————————————— */

.div-project-page {
  position: absolute;
  top: 0;
  width: 100%;
}

.div-project-header {
  height: 100vh;
  grid-column: 1 / span 4;
  background-image: url('./img/project-fpo-01.jpg');
  background-position: center;
  background-size: cover;
}

.div-project-main {
  padding: 0 4vw;
  margin: 0 auto;
  max-width: 1920px;
}

.div-project-info {
  padding: 6vw 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
  align-items: center;
}

.project-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  letter-spacing: 0.04em;
}

.div-project-img {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2vw;
}

.project-img {
  width: 100%;
}

/* Mobile —————————————————————————————— */

@media screen and (max-width: 640px) {
  .icon-nav-show {
    display: inline-block;
    cursor: pointer;
  }

  .nav-desktop {
    display: none;
  }

  .div-thumbnail-grid {
    grid-template-columns: 1fr;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  .div-project-info {
    padding-bottom: 8vw;
    grid-template-columns: 1fr;
  }
}
