@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 3%;
  font-family: 'Zilla Slab', serif;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

header {
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  letter-spacing: 0.04em;
}

.icon-nav-expand {
  display: none;
}

nav li {
  margin-left: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  display: inline-block;
  font-size: 20px;
  transition-property: border-bottom;
  transition-duration: 0.2s;
}

nav li:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}

.div-thumbnail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.div-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-name {
  position: absolute;
  z-index: 1;
  opacity: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  letter-spacing: 0.04em;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.div-thumbnail:hover > .project-name {
  opacity: 1;
}

.img-thumbnail {
  width: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.div-thumbnail:hover > .img-thumbnail {
  opacity: 0.4;
}

@media screen and (max-width: 640px) {
  .icon-nav-expand {
    display: inline-block;
  }

  nav {
    display: none;
  }

  .div-thumbnail-grid {
    grid-template-columns: 1fr;
  }
}
